{% extends "base.html" %}

<title>{% block title %} About - {{ SITENAME }} {% endblock %}</title>

{% block open_graph %}
<meta property="og:title" content="About - {{ SITENAME }}">
<meta property="og:type" content="website">
<meta property="og:image" content="/static/images/me.jpg">
<meta property="og:url" content="{{ SITEURL }}/pages/about.html">
<meta property="og:description" content="Basic info and about Jahongir Rahmonov including links and contact info.">
{% endblock %}

{% block content %}

{% block content_title %}
<h2 id="about">About </h2>
{% endblock %}


<p class="greeting">
    Hi! My name is Jahongir Rahmonov.
</p>

<p>
    I'm a
    <a href="https://github.com/rahmonov">software developer</a>
    at <a href="http://mysuperdispatch.com/">Super Dispatch (TechStars '16)</a>,
    a graduate of <a href="http://wiut.uz">Westminster International University in Tashkent</a>, a bookworm,
    and a travel buff.
</p>

<p>
    As a software developer, I mostly write in Python, the Django framework specifically. But which web developer has not
    had to write in this thing called JavaScript. So, I have a couple of years' experience in AngularJS as well.
    However, as a startup employee, I have had to wear many hats and lately I have been involved in DevOps most of my time.
    As a result, in my day-to-day job, I am using Docker, Kubernetes, Jenkins, GCP and AWS.
</p>

<p>
    Also, I have tried myself as a speaker a couple of times. I regularly give talks at Super Dispatch. However, my first
    real speaking activity was in <a href="https://www.facebook.com/iutextended/">Google IO Extended 2017 at Inha</a> where I
    gave a talk on "Web apps deployment at Super Dispatch: past, present and future"
</p>

<p>
    I have a dream of <a href="/posts/why-i-want-to-work-at-google/">becoming a Googler</a>. I am trying my best to accomplish this.
    And this blog is for sharing my knowledge and experience acquired along the way. Because, you know, the best way to learn is to teach :)
</p>

<h2 id="contact">Contact</h2>
<p>
    Feel free to contact me through
    <a href="https://twitter.com/rahmon0v" target="_blank">Twitter</a> and
    <a href="https://www.facebook.com/rahmonovj" target="_blank">Facebook</a>
    or privately through
    <a href="mailto:jrahmonov@wiut.uz">email</a>.
    I really enjoy talking with people.
</p>

<h2 id="contact">Powered by</h2>
<p>
    The website is powered by <a href="http://docs.getpelican.com/" target="_blank">Pelican</a> static site generator
    and <a href="https://pages.github.com/" target="_blank">Github Pages</a>.
    Design is inspired by <a href="http://joshldavis.com/" target="_blank">Josh Davis</a>.
</p>


{% include 'footer.html' %}

{% endblock content %}