html, body, . h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }
html, body { height: 100%; }
img { border: none; }
ul.menu { list-style: none; }

/*
 * Global Style
 */

body {
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #505050;
    line-height: 22px;
}

ul {
    margin: 4px 0 18px 0;
}

ul.pretty {
    list-style: disc;
    margin: 4px 0 18px 40px;
}

ul.pretty li {
    float: left;
    width: 180px;
    margin: 4px 0;
}

ul.pretty:before, ul.pretty:after {
    display: table;
    line-height: 0;
    content: "";
}

ul.pretty:after {
    clear:both;
}

.buttons {
    text-align: center;
}

.container a.button {
    margin-bottom: 20px;
    height: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    background-color: #599Bdc;
    border-radius: 4px;
    padding: 6px 6px;
    border-color: #295c8c;
    border-width: 1px;
    border-style: solid;
    color: #FFFFFF;
}

.container a.button:hover {
    background-color: #3072B3;
    color: white;
}

.container a.button:active {
    background-color: #5ea3e0;
    color: white;
}

.container {
    width: 1200px;
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
}

.clear:before, .clear:after {
    display: table;
    line-height: 0;
    content: "";
}

.clear:after {
    clear: both;
}

.container p {
    margin-bottom: 18px;
}

.container a {
    color: #08C;
    border-bottom: 1px dashed #dededc;
    text-decoration: none;
}

button.nav {
    display: none;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

/*
    Sidebar
*/

.side {
    text-align: right;
    font-size: .9em;
    width: 160px;
    float: left;
    margin: 0 10px;
    padding: 30px 0;
}

.side h2 {
    margin: 4px 0 18px;
    text-align: center;
}

.side ul {
    margin-bottom: 18px;
}

.side ul li {
    padding: 6px;
    border-top: 1px solid #dededc;
}

.side ul li:first-child {
    border-top: none;
}

.side ul li:last-child {
    border-bottom: 1px solid #dededc;
}

.side ul li a {
    font-weight: bold;
    display: block;
    border-bottom: none;
}

.side ul li a:hover {
    display: block;
    color: #505050;
}

.side .profiles {
    margin: 8px 0;
}

.side .profiles a {
    font-size: 1.6em;
    border-bottom: none;
}

.wrap {
    height: 100%;
    min-height: 752px;
    width: 1000px;
    float: left;
    margin: 0 9px 0 10px;
}

.wrap:before, .wrap:after {
    display: table;
    line-height: 0;
    content: "";
}

.wrap:after {
    clear:both;
}

.post_title{
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

/*
 * Logo of me
 */

.logo {
    margin: 0 auto;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
}

.logo .jahon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
       -moz-transition: opacity 0.2s ease-in-out;
         -o-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
}

.logo .rocket {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
       -moz-transition: opacity 0.2s ease-in-out;
         -o-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
}

/*
 * Basic Content
 */

.content {
    min-height: 100%;
    padding: 30px 40px;
    border-left: 1px solid #dededc;
}

.content h1, .content h2, .content h3, .content h4, .content h5 {
    margin-bottom: 18px;
    padding-bottom: 6px;
    clear: both;
}

.content h1 {
    line-height: 1em;
}

.content h2 {
    border-bottom: 1px solid #dededc;
}

.content ol {
    padding-left: 40px;
    margin-bottom: 20px;
}

.content ol li {
    margin-bottom: 10px;
}

.end {
    font-style: italic;
    border-top: 1px solid #dededc;
    padding: 20px 0;
}

.posts span {
    font-weight: bold;
}

.posts p {
    padding-left: 2em;
}

/*
 * Images in my posts
 */

.content .gallery {
    margin: 0 auto;
    margin-bottom: 18px;
}

.content img,
.content iframe {
    max-width: 100%;
}

.content .figure {
    text-align: center;
    margin: 5px 0 5px 10px;
    float: left;
    display: block;
    padding: 4px;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
         -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.content .figure.right {
    float: right;
}

.content .gallery.xxsmall {
    width: 160px;
}

.content .gallery.xsmall {
    width: 320px;
}

.content .gallery.small {
    width: 480px;
}

.content .gallery.medium {
    width: 640px;
}

.content .gallery.large {
    width: 800px;
}

.content .gallery.xlarge {
    width: 960px;
}

.content .gallery.xxlarge {
    width: 1120px;
}

.content .gallery:before, .content .gallery:after {
    display: table;
    line-height: 0;
    content: "";
}

.content .gallery:after {
    clear: both;
}

.content .gallery a, .content .gallery figure {
    text-align: center;
    margin: 5px 0 5px 10px;
    float: left;
    display: block;
    padding: 4px;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
         -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.content .figure a {
    border-bottom: none;
}

.content .figure span,
.content .gallery a span,
.content .gallery figure figcaption {
    text-align: left;
    color: #505050;
    padding: 4px;
    background-color: #f0f0f0;
    display: block;
}

.content blockquote {
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #eeeeee;
}

/*
 * Responsive CSS
 *
 * Inspiration:
 * https://github.com/dhg/Skeleton/blob/master/stylesheets/layout.css
 */

@media only screen and (max-width: 1199px) {
    .container {
        width: 100%;
    }

    .side {
        padding-left: 10px;
        padding-right: 20px;
        position: absolute;
    }

    .wrap {
        width: auto;
        margin-left: 160px;
        float: none;
    }

    .content {
        margin: 0 40px;
    }

    .content .gallery a,
    .content .gallery figure {
        max-width: 100%;
    }

    .content .gallery.xxsmall,
    .content .gallery.xsmall,
    .content .gallery.small,
    .content .gallery.medium,
    .content .gallery.large,
    .content .gallery.xlarge,
    .content .gallery.xxlarge {
        max-width: 100%;
        height: auto;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only handheld, screen and (min-width: 480px) and (max-width: 767px), screen and (max-width: 479px) {
    .container {
        width: 100%;
    }

    button.nav {
        display: inline;
    }

    .side {
        text-align: center;
        width: 100%;
        float: none;
        margin: 0;
        padding: 10px 0;
        position: inherit;
    }

    .side .paragraphs {
        display: none;
    }

    .side ul {
        display: none;
        margin: 10px 20px;
        text-shadow: 0 1px 0 #fff;
        background-color: #f5f7fa;
        border-radius: 5px;
        padding-left: 0;
    }

    .side ul li:last-child {
        border-bottom: none;
    }

    .wrap {
        width: 100%;
        margin: 0;
    }

    .content {
        margin: 0;
        padding: 10px 20px;
        border-left: none;
    }
}

table.pretty {
    text-align: left;
}

table.pretty thead tr th {
    margin: 0;
    padding: 8px;
    line-height: 1.42857143;
    border-bottom: 1px solid #ddd;
}

code{
    font-size: 15px;
}


